.ant-table-thead .headerRow{
    text-align: center
}
.ant-table-tbody .headerRow{
    text-align: center
}
.checkbox{ 
    text-align: center; 
    margin:auto;
    padding:0;
}
.editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
  }