.public_tltie_one{
    width: 13px;
    height: 16px;
    display: block;
    background: url(https://image1.askci.com/s_dataimages/images/data-icon-2017-11-09000000010.png) no-repeat;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}
